##############################################################
#
# List of approvers/reviewers for Keptn examples
#
##############################################################

# These owners will be the default owners for everything in the repo.
* @genomic-medicine-sweden/taco-devs
