assets/databases/emu_database/species_taxid.fasta
assets/databases/emu_database/taxonomy.tsv
assets/databases/krona/taxonomy/images.dmp
assets/databases/krona/taxonomy/taxonomy.tab
.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
